.App {
  text-align: center;
  background-color:#04585f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: white;
}

.App-header {
  margin-bottom: 50px;
}

.card {
  display: flex;
}

p {
  margin: 0;
}
